body{
    
    background-color: #554f4f;
    color: whitesmoke;
    padding: 50px;
}


.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar .navbar-brand{
    color: #EA1C2C;
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #EA1C2C;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span{
    color: #EA1C2C
}

#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled{
    background: rgb(27, 27, 27);
    transition: background 500ms;
}


